/* --------------------------------------------------------------------------------
Links
-------------------------------------------------------------------------------- */

a {
	text-decoration: none;
	color: $color__link;
}

a:hover {
	text-decoration: underline;
}
