/* --------------------------------------------------------------------------------
variables
-------------------------------------------------------------------------------- */

/* color */
$color__primary: #CC2926;
$color__secondary: #b49a71;
$color__sub: #333333;
$color__base: #fafafa;
$color__link: #CC2926;

$color__marker: #f6f313;

$color__g1: #CC2926;
$color__g2: #EF903A;
$color__g3: #9D1F28;


/* font */
$font__primary: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans CJK JP", "noto-sans-cjk-jp", "Yu Gothic Medium", "游ゴシック Medium", "Yu Gothic", "游ゴシック", YuGothic, "メイリオ", "Meiryo", sans-serif;
$font__secondary: protipo, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans CJK JP", "noto-sans-cjk-jp", "Yu Gothic Medium", "游ゴシック Medium", "Yu Gothic", "游ゴシック", YuGothic, "メイリオ", "Meiryo", sans-serif;

/* ------------------------------

$font__primary: "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans CJK JP", "noto-sans-cjk-jp", "Yu Gothic Medium", "游ゴシック Medium", "Yu Gothic", "游ゴシック", YuGothic, "メイリオ", "Meiryo", sans-serif;
$font__secondary: protipo, "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Noto Sans CJK JP", "noto-sans-cjk-jp", "Yu Gothic Medium", "游ゴシック Medium", "Yu Gothic", "游ゴシック", YuGothic, "メイリオ", "Meiryo", sans-serif;

-apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic, "Yu Gothic M", "メイリオ", Meiryo, sans-serif;
kozuka-gothic-pr6n, -apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic, "Yu Gothic M", "メイリオ", Meiryo, sans-serif;

ozuka-mincho-pro, a-otf-futo-min-a101-pr6n, "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HGS明朝E", "メイリオ", Meiryo, serif;
"游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HGS明朝E", "メイリオ", Meiryo, serif;
minion-pro, "A1 Mincho", a-otf-futo-min-a101-pr6n, "游明朝", "Yu Mincho", YuMincho, "Hiragino Mincho ProN", "Hiragino Mincho Pro", "HGS明朝E", "メイリオ", Meiryo, serif;
"Jun 501", kozuka-gothic-pr6n, -apple-system, BlinkMacSystemFont, "游ゴシック体", YuGothic, "Yu Gothic M", "メイリオ", Meiryo, sans-serif;

------------------------------ */

/* media */
$media__s: 32.4375em;
$media__s2: 37.5em;
$media__s3: 47.9375em;

$media__t: 32.5em;
$media__t2: 37.5625em;
$media__t3: 48em;
$media__t4: 59.9375em;
$media__t5: 69.9375em;

$media__p: 60em;
$media__p2: 70em;
$media__p3: 80em;
