/* --------------------------------------------------------------------------------
banner
-------------------------------------------------------------------------------- */

/* banner-large */
.banner-large .photo {
	display: block;
	margin: 0 auto;
}

.banner-large .photo img {
	margin: 0 auto;
	width: 100%;
	max-width: 600px;
	height: auto;
}
