/* --------------------------------------------------------------------------------
tab-navigation
-------------------------------------------------------------------------------- */

#tab-navigation .section-frame {
	padding: 10px 10px 5px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 5px rgba(58, 58, 58, 0.3);
	box-shadow: 0 2px 5px rgba(58, 58, 58, 0.3);
}

#tab-navigation .menu li {
	background-color: #fff;
	font-weight: 600;
	text-align: center;
}

#tab-navigation .menu.flex {
	margin-left: -5px;
	width: calc(100% + 5px);
}

#tab-navigation .menu li {
	margin-bottom: 5px; 
	margin-left: 5px; 
	width: calc(50% - 5px);
	font-size: 12px;
	font-size: 1.2rem;
}

#tab-navigation .menu li a {
	display: block;
	padding: 6px 10px;
	border: 1px solid #dddddd;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

#tab-navigation .menu li a:hover {
	background-color: $color__primary;
	border: 1px solid $color__primary;
	text-decoration: none;
	color: #fff;
}

#tab-navigation .menu li.current-cat {
	background-color: #fafafa;
}

#tab-navigation .menu li.current-cat a {
	display: block;
	color: #333;
	text-decoration: none;	
}

#tab-navigation .menu li.current-cat a:hover {
	background-color: #fafafa;
	border: 1px solid #dddddd;
}

/* form */

#tab-navigation form {
	margin-bottom: 5px;
}

#tab-navigation .select-wrap {
	position: relative;
	width: 240px;
}

#tab-navigation select {
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid #dddddd;
	padding: 6px 10px;
	width: 100%;
	font-size: 15px;
	font-size: 1.5rem;
}

#tab-navigation .select-wrap:after {
	display: inline-block;
	position: absolute;
	content: '';
	top: 10px;
	right: 15px;
	margin-left: 5px;
	width: 10px;
	height: 10px;
	background: url("/assets/img/common/arrow-bottom.svg") no-repeat top center;
	background-size: 10px 10px;
}


@media print, screen and (min-width: $media__t) {
	#tab-navigation .menu.flex {
		margin-left: -5px;
		width: calc(100% + 5px);
	}
	#tab-navigation .menu li {
		margin-left: 5px; 
		width: calc(33.33% - 5px);
	}
}

@media print, screen and (min-width: $media__p) {
	#tab-navigation .section-frame {
		padding: 20px 20px 10px;
	}
	#tab-navigation form {
		margin-bottom: 10px;
	}
	#tab-navigation .menu.flex {
		margin-left: -10px;
		width: calc(100% + 10px);
	}
	#tab-navigation .menu li {
		margin-left: 10px; 
		margin-bottom: 10px; 
		width: calc(20% - 10px);
	}
	#tab-navigation .menu li a {
		display: block;
		padding: 6px 10px;
	}
}
