/* --------------------------------------------------------------------------------
page-top
-------------------------------------------------------------------------------- */

#page-top {
	opacity: 0;
	visibility: hidden;
	position: fixed;
	z-index: 100;
	right: 5%;
	bottom: 20px;
	width: 60px;
	height: 60px;
	-webkit-transition: all .9s ease;
	transition: all .9s ease;
}

@media only screen and (max-width: $media__t4) {
	#page-top {
		display: none;
	}
}

#page-top.visible {
	opacity: 1;
	visibility: visible;
}

#page-top a {
	border-radius: 50%;
	background-color: #333;
	display: block;
	width: 100%;
	height: 100%;
	padding-top: 18px;
	text-align: center;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

#page-top a svg {
	width: 20px;
	height: 12px;
	fill: #fff;
}

#page-top a:hover {
	background-color: #666;
}
