/* --------------------------------------------------------------------------------
recruit
-------------------------------------------------------------------------------- */

/* /recruit/
-------------------------------------------------- */

.recruit-top-mv:before {
	margin-top: -200px;
	content: "";
	position: absolute;
	border-style: none;
	left: 0;
	top: 0;
	width: 100%;
	height: 200px;
	z-index: -1;
	background-color: #fafafa;
}

.recruit-top-mv {
	position: relative;
	margin-bottom: 24px;
	background-color: #fafafa;
}

.recruit-top-mv .section-frame {
	position: relative;
	margin-top: -21px;
}

.recruit-top-mv .section-frame .text-area {
	position: absolute;
	top: 50%;
	left: 0;
	z-index: 3;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}

.recruit-top-mv .text-area .title {
	font-family: $font__secondary;
	font-size: 30px;
	font-size: 3.0rem;
	color: $color__primary;
	font-weight: 500;
}

.recruit-top-mv .text-area .sub-title {
	margin-bottom: 15px;
	font-size: 12px;
	font-size: 1.2rem;
	color: #111;
	font-weight: 500;
	line-height: 1;
}

.recruit-top-mv .text-area .catch {
	font-size: 15px;
	font-size: 1.5rem;
	color: #111;
	font-weight: 600;
	line-height: 1.2;
}

.recruit-top-mv .section-frame .img-area {
	position: relative;
}

.recruit-top-mv .section-frame .img-area img {
	width: 100%;
	height: auto;
	border-radius: 5px 5px 0 0;
}

@media print, screen and (min-width: $media__t) {
	.recruit-top-mv {
		margin-bottom: 30px;
	}

	.recruit-top-mv .section-frame {
		margin-top: 15px;
	}

	.recruit-top-mv .section-frame .text-area {
		left: 20px;
	}

	.recruit-top-mv .text-area .title {
		margin-bottom: 3px;
		font-size: 39px;
		font-size: 3.9rem;
	}

	.recruit-top-mv .text-area .sub-title {
		margin-bottom: 36px;
		font-size: 12px;
		font-size: 1.2rem;
	}

	.recruit-top-mv .text-area .catch {
		font-size: 18px;
		font-size: 1.8rem;
		line-height: 1.3;
	}
}

@media print, screen and (min-width: $media__t3) {
	.recruit-top-mv {
		margin-bottom: 42px;
	}

	.recruit-top-mv .section-frame {
		margin-top: 15px;
	}

	.recruit-top-mv .section-frame .text-area {
		left: 40px;
	}

	.recruit-top-mv .text-area .title {
		margin-bottom: 6px;
		font-size: 51px;
		font-size: 5.1rem;
	}

	.recruit-top-mv .text-area .sub-title {
		margin-bottom: 60px;
		font-size: 15px;
		font-size: 1.5rem;
	}

	.recruit-top-mv .text-area .catch {
		font-size: 36px;
		font-size: 3.6rem;
	}
}

@media print, screen and (min-width: $media__p) {
	.recruit-top-mv {
		margin-bottom: 51px;
	}

	.recruit-top-mv .section-frame {
		margin-top: 15px;
	}

	.recruit-top-mv .section-frame .text-area {
		margin-top: -15px;
		left: 50px;
	}

	.recruit-top-mv .text-area .title {
		margin-bottom: 9px;
		font-size: 66px;
		font-size: 6.6rem;
	}

	.recruit-top-mv .text-area .sub-title {
		margin-bottom: 78px;
		font-size: 15px;
		font-size: 1.5rem;
	}

	.recruit-top-mv .text-area .catch {
		font-size: 42px;
		font-size: 4.2rem;
		line-height: 1.3;
	}
}



