/* --------------------------------------------------------------------------------
interview
-------------------------------------------------------------------------------- */

/* interview-list
-------------------------------------------------- */

.interview-list .unit {
	margin-bottom: 42px;
	padding: 0 10px;
}

.interview-list .unit .photo {
	margin-bottom:  15px;
}

.interview-list .unit .photo img {
	width: 100%;
	border: 1px solid #fff;
	border-radius: 5px;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.interview-list .unit .text-column {
	padding: 0 20px;
}

.interview-list .unit .category {
	display: block;
	margin-bottom: 9px;
	font-size: 15px;
	font-size: 1.5rem;
	font-weight: 600;
	color: $color__primary;
}

.interview-list .unit .head {
	margin-bottom: 6px;
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 600;
}

.interview-list .unit .name {
	margin-bottom: 9px;
	font-size: 15px;
	font-size: 1.5rem;
}

.interview-list .unit .link {
	position: relative;
	font-size: 15px;
	font-size: 1.5rem;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}

.interview-list .unit .link:after {
	display: inline-block;
	position: relative;
	content: '';
	top: -0.06em;
	margin-left: 5px;
	width: 10px;
	height: 10px;
	background: url("/assets/img/common/arrow-left.svg") no-repeat top center;
	background-size: 10px 10px;
}

@media print, screen and (min-width: $media__t2) {
	.interview-list .flex {
		margin-left: -30px;
	}

	.interview-list .unit {
		width: calc(50% - 30px);
		margin-left: 30px;
		margin-bottom: 30px;
	}
}

@media print, screen and (min-width: $media__p) {
	.interview-list .flex {
		margin-left: -30px;
	}

	.interview-list .unit {
		width: calc(33.33% - 30px);
		margin-left: 30px;
		margin-bottom: 42px;
	}

	.interview-list .unit .photo {
		margin-bottom:  21px;
	}

	.interview-list .unit:hover .photo img {
		border: 1px solid $color__primary;
	}

	.interview-list .unit .category {
		margin-bottom: 15px;
	}

	.interview-list .unit .head {
		margin-bottom: 15px;
	}

	.interview-list .unit .name {
		margin-bottom: 15px;
	}

	.interview-list .unit:hover .link {
		text-decoration: underline;
	}
}

@media print, screen and (min-width: $media__p2) {
	.interview-list .flex {
		margin-left: -70px;
	}

	.interview-list .unit {
		width: calc(33.33% - 70px);
		margin-left: 70px;
		margin-bottom: 70px;
	}
}


/* interview-detail
-------------------------------------------------- */

.interview .entry-content img {
	border-radius: 5px;
}

/* interview-mv */
.interview .interview-mv {
	padding-bottom: 39px;
}

.interview .interview-mv .sub-title {
	text-align: center;
	margin-bottom: 12px;
	font-size: 15px;
	font-size: 1.5rem;
	color: $color__primary;
	font-family: $font__secondary;
	font-weight: 500;
}

.interview .interview-mv .sub-title2 {
	display: none;
}

.interview .interview-mv .photo {
	margin-bottom: 15px;
}

.interview .interview-mv .photo img {
	width: 100%;
	border-radius: 10px;
}

.interview .interview-mv .text-column {
	padding: 0 10px;
}

.interview .interview-mv .title {
	margin-bottom: 9px;
	font-size: 21px;
	font-size: 2.1rem;
	font-weight: 600;
}

.interview .interview-mv .name {
	font-size: 18px;
	font-size: 1.8rem;
	font-weight: 600;
	color: $color__primary;
}

.interview .interview-mv .name_furigana {
	margin-bottom: 12px;
	font-size: 10px;
	font-size: 1.0rem;
	color: #666;
}

@media print, screen and (min-width: $media__t3) {
	.interview .interview-mv {
		padding-top: 30px;
		padding-bottom: 39px;
	}

	.interview .interview-mv .section-frame {
		position: relative;
		background-color: #962d2d;
		border-radius: 1px;
		border-radius: 10px;
	}

	.interview .interview-mv .sub-title {
		display: none;
	}

	.interview .interview-mv .sub-title2 {
		display: block;
		margin-bottom: 6px;
		font-size: 15px;
		font-size: 1.5rem;
		color: $color__primary;
		font-family: $font__secondary;
		font-weight: 500;
	}

	.interview .interview-mv .photo {
		margin-bottom: 15px;
	}

	.interview .interview-mv .photo img {
		width: 100%;
		width: 50%;
		border-radius: 8px 0 0 8px;
	}

	.interview .interview-mv .text-column {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		right: 30px;
		padding: 27px 30px 12px;
		width: 50%;
		background-color: #fff;
		border-radius: 3px;
	}

	.interview .interview-mv .title {
		margin-bottom: 9px;
		font-size: 24px;
		font-size: 2.4rem;
	}
}

@media print, screen and (min-width: $media__p) {

	.interview .interview-mv .text-column {
		position: absolute;
		top: 50%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		right: 50px;
		padding: 27px 30px 12px;
		width: 50%;
		background-color: #fff;
		border-radius: 3px;
	}

	.interview .interview-mv .title {
		margin-bottom: 9px;
		font-size: 30px;
		font-size: 3.0rem;
		font-weight: 600;
	}

	.interview .interview-mv .name {
		font-size: 24px;
		font-size: 2.4rem;
	}
}

/* profile-box */
.interview .profile-box {
	padding-bottom: 39px;
}

.interview .profile-box .section-frame {
	background-color: #fff;
	border: 2px solid #dddddd;
	padding: 15px 30px 24px;
}

.interview .profile-box .head {
	position: relative;
	text-align: center;
	width: 120px;
	background-color: #fff;
	margin:  -27px auto 21px;
	font-size: 15px;
	font-size: 1.5rem;
	color: $color__primary;
	font-family: $font__secondary;
	font-weight: 500;
}

.interview .profile-box .head:before {
	display: inline-block;
	position: relative;
	content: '';
	width: 10px;
	height: 10px;
	margin-right: 5px;
	background: url("/assets/img/common/head_bg_001.svg") no-repeat top center;
	background-size: 10px 10px;
}

.interview .profile-box .head:after {
	display: inline-block;
	position: relative;
	content: '';
	top: 0px;
	right: 0;
	width: 10px;
	height: 10px;
	margin-left: 5px;
	background: url("/assets/img/common/head_bg_002.svg") no-repeat top center;
	background-size: 10px 10px;
}

.interview .profile-box .year {
	margin-bottom: 9px;
	font-size: 15px;
	font-size: 1.5rem;
}

.interview .profile-box .section {
	margin-bottom: 9px;
	font-size: 15px;
	font-size: 1.5rem;
}

.interview .profile-box .profile {
	font-size: 15px;
	font-size: 1.5rem;
}

@media print, screen and (min-width: $media__t3) {
	.interview .profile-box .section-frame {
		padding: 15px 60px 36px;
	}

	.interview .profile-box .head {
		width: 210px;
		margin:  9px auto 21px;
		font-size: 27px;
		font-size: 2.7rem;
	}

	.interview .profile-box .head:before {
		width: 18px;
		height: 18px;
		background-size: 18px 18px;
	}

	.interview .profile-box .head:after {
		width: 18px;
		height: 18px;
		background-size: 18px 18px;
	}

	.interview .profile-box .year {
		margin-bottom: 18px;
	}

	.interview .profile-box .section {
		margin-bottom: 18px;
	}

	.interview .profile-box .profile {
		line-height: 1.8;
	}
}

/* block_schedule */
.block_schedule .schedule_title {
	text-align: center;
	margin-bottom: 15px;
	font-weight: 600;
	font-size: 18px;
	font-size: 1.8rem;
	color: $color__primary;
	line-height: 1.3;
}

.block_schedule .text-bg {
	-webkit-columns: 300px 2;
	-moz-columns: 300px 2;
	-ms-columns: 300px 2;
	columns: 300px 2;
	-moz-column-gap: 30px;
	-webkit-column-gap: 30px;
	column-gap: 30px;
	padding: 24px 20px 27px;
}

.block_schedule .task {
	margin-bottom: 18px;
}

.block_schedule .time {
	display: block;
	width: 80px;
	border-right: 1px solid #dddddd;
	font-weight: 600;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.5;
}

.block_schedule .name {
	display: block;
	width: calc(100% - 80px);
	padding-left: 15px; 
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.5;
}


@media print, screen and (min-width: $media__p) {
	.block_schedule .schedule_title {
		margin-bottom: 18px;
		font-size: 24px;
		font-size: 2.4rem;
	}
	.block_schedule .text-bg {
		padding: 36px 50px 36px;
	}
}




